@import "tailwindcss";


@theme {
  /* This creates the .font-satoshi utility */
  --font-satoshi: var(--font-satoshi), ui-sans-serif, system-ui;
}



/* this is for no scrolling bar showing  */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
